.flex {
    display: flex;
}
.font-bold {
    font-weight: 700;;
}
.grid {
    display: grid;
}
.h-full {
    height: 100%;;
}
.items-center {
    align-items: center;;
}
.justify-center {
    justify-content: center;;
}
.text-3xl {
    font-size: 1.875rem;;
}
.w-full {
    width: 100%;;
}
