.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-full {
  height: 100%;;
}

.h-screen {
  height: 100vh;;
}

.place-content-center {
  place-content: center;;
}

.place-content-start {
  place-content: start;;
}

.place-items-center {
  place-items: center;;
}

.place-items-start {
  place-items: start;;
}

.w-full {
  width: 100%;;
}

.w-screen {
  width: 100vw;;
}

