.w-screen {
  width: 100vw;
}

.place-items-center {
  place-items: center;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.place-content-start {
  place-content: start;
}
